$first-card-color: #FFBE03;
$second-card-color: #FF6A16;
$third-card-color: #3D61FF;

.first {
    // background-color: $first-card-color !important;    
    // --background: $first-card-color !important;    
    border: 4px solid #FBFFC4;
}
.second {
    // background-color: $second-card-color !important;    
    // --background: $second-card-color !important;
    // border: 1px solid $second-card-color !important;
    border: 3px solid #FBFFC4;

}
.third {
    // background-color: $third-card-color !important;    
    // --background: $third-card-color !important;
    // border: 1px solid $third-card-color !important;
    border: 4px solid #FBFFC4;

}

.reco-card-component {
    width: 100%;
    height: 65vh;    
    border-radius: 25px;
    margin: 40px 10px 0px 0px !important;
    overflow: hidden;
    background-color: #2F3746;

    // box-shadow: 0 3px 8px rgba(100, 100, 100, 1) !important;

    .reco-card-title {
      color: #FEFEFE;
      margin-bottom: 50px;
      margin-top:45px;
      font-size: 33px;
      font-weight:bold;
    }

    .reco-card-content {
      // background-color: #2F3746 !important;;
      

        ion-item {
          background-color: #2F3746 !important;
          border: 0px solid #2F3746;

          padding-right: 7px;
            padding-left: 7px;
            // font-weight:bold;
            font-size: 22px;
            color: rgb(212, 218, 230);
            // ion-label {
            //   color: #2F3746;
            //   height: 5px;
            // }
        }
        ion-input, ion-textarea{          
          --placeholder-opacity: 1;
          background-color: #2F3746 !important;;

        }
        margin: 0 auto;
        height: 55vh;
        .place-list {
            margin: 5px 0 !important;
            // border: 1px solid rgba(150,150,150, 0.5) !important;
            // box-shadow: 0 3px 6px rgba(100, 100, 100, 0.5) !important;  
            border-radius: 5px;
            ion-item {
              // border-bottom: 1px solid rgb(205,205,205);
              padding: 3px 0;
              color: rgb(50,50,50);
              font-size: 14px;
              

            }
          }
          .empty-place-list {
            margin: 0px !important;
            border: none;
          }
          
          .tooltip {
            text-align: left;
            height: 20px;
            margin: 3px 15px;
            span {
              font-size: 12px;
              color: #E48633;
            }
          }
        
          .notes-textarea {
            height: 50px;
            padding: 0px;
            background-color: #2F3746 !important;;

            // margin-top: 10px;
          }
        
          .photo-item {
            height: 35px;
            margin-top: 10px;
            ion-label {
              max-height: 30px;
            }
          }
        
          .photo-content {
            margin: 5px 20px;
          }
        
          .add-photo-placeholder {    
            width: 100px;
            height: 70px;
            border: 1px dotted rgb(200,200,200);
            box-shadow: 0 0 6px rgba(200, 200, 200, 0.8) !important;  
            border-radius: 6px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;    
            display: flex;
            ion-icon {
              margin: auto;
              width: 30px;
              height: 30px;
            }
          }

          .op-button {
            width: 75%;
            height: 40px;
            margin-top: 130px;
            font-size: 22px;
            font-weight: bold;
            // --border-color: #d3d31f;            
            // --border-width: 1px;
            // --border-style: solid;
            --border-radius: 10px;
            // --background: #F8F7FB;
            --background-activated: linear-gradient(320deg,  #c0ba06, #e4e4bc);
            // --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);        
            --color: rgb(255, 255, 255);
            // --color-activated:#000;
          }
          
          .create-profile-desc {            
            margin-top: 30px;
            font-size: 16px;
            padding: 20px;
            color: #FEFEFE;
          }
    }

  
}