$first-card-color: #373944; // must remove
$second-card-color: #373944; // must remove
$third-card-color: #373944; // must remove

$card-background-color: #373944;
$font-color: #fffefe;
$card-border-color: #f5f3d6;

.first {
<<<<<<< HEAD
    // background-color: $first-card-color !important;    
    // --background: $first-card-color !important;    
    border: 4px solid #FBFFC4;
}
.second {
    // background-color: $second-card-color !important;    
    // --background: $second-card-color !important;
    // border: 1px solid $second-card-color !important;
    border: 3px solid #FBFFC4;

}
.third {
    // background-color: $third-card-color !important;    
    // --background: $third-card-color !important;
    // border: 1px solid $third-card-color !important;
    border: 4px solid #FBFFC4;

=======
    background-color: $first-card-color;    
    --background: $first-card-color;    
    border: 2px solid $card-border-color;
}
.second {
    background-color: $second-card-color;    
    --background: $second-card-color;
    border: 2px solid $card-border-color;
}
.third {
    background-color: $third-card-color;    
    --background: $third-card-color;
    border: 2px solid $card-border-color;
}

.input-item {
  background-color: $card-background-color;    
    --background: $card-background-color;
    border: 1px solid $card-background-color;
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
}

.reco-card-component {
    width: 100%;
    height: 78%;    
    border-radius: 25px;
    margin: 40px 10px 0px 0px;
    overflow: hidden;
    background-color: #2F3746;

    box-shadow: 0 3px 8px rgba(100, 100, 100, 1);

    .reco-card-title {
<<<<<<< HEAD
      color: #FEFEFE;
      margin-bottom: 50px;
=======
      color: $font-color;
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
      margin-top:45px;
      margin-left: 20px;
      font-size: 24px;
      font-weight:bold;
      text-align: left;
    }

    .reco-card-content {
      // background-color: #2F3746 !important;;
      

        ion-item {
<<<<<<< HEAD
          background-color: #2F3746 !important;
          border: 0px solid #2F3746;

          padding-right: 7px;
            padding-left: 7px;
            // font-weight:bold;
            font-size: 22px;
            color: rgb(212, 218, 230);
            // ion-label {
            //   color: #2F3746;
            //   height: 5px;
            // }
=======
            padding-right: 7px;
            padding-left: 0px;
            // font-weight:bold;
            font-size: 20px;
            color: $font-color;
            ion-label {
              color: $font-color;
              height: 5px;
            }
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
        }
        ion-input, ion-textarea{          
          --placeholder-opacity: 1;
          background-color: #2F3746 !important;;

        }
        margin: 0 auto;
        // height: 55vh;
        .place-list {
            margin: 5px 0 !important;
<<<<<<< HEAD
            // border: 1px solid rgba(150,150,150, 0.5) !important;
            // box-shadow: 0 3px 6px rgba(100, 100, 100, 0.5) !important;  
=======
            border: 1px solid $card-border-color !important;
            box-shadow: 0 3px 6px $card-border-color !important;  
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
            border-radius: 5px;
            ion-item {
              // border-bottom: 1px solid rgb(205,205,205);
              padding: 3px 0;
              color: rgb(50,50,50);
              font-size: 14px;
              

            }
          }
          .empty-place-list {
            margin: 0px !important;
            border: none;
          }
          
          .tooltip {
            text-align: left;
            height: 20px;
            margin: 3px 15px;
            span {
              font-size: 12px;
              color: $font-color;
            }
          }
        
          .notes-textarea {
            height: 50px;
            padding: 0px;
<<<<<<< HEAD
            background-color: #2F3746 !important;;

            // margin-top: 10px;
=======
            margin-top: 10px;
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
          }
        
          .photo-item {
            height: 35px;
            margin-top: 10px;
            ion-label {
              max-height: 30px;
            }
          }
        
          .photo-content {
            margin: 5px 20px;
          }
        
          .add-photo-placeholder {    
            width: 100px;
            height: 70px;
            border: 1px dotted rgb(200,200,200);
            box-shadow: 0 0 6px rgba(200, 200, 200, 0.8) !important;  
            border-radius: 6px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            justify-content: center;    
            display: flex;
            ion-icon {
              margin: auto;
              width: 30px;
              height: 30px;
            }
          }

          .op-button {
            width: 75%;
            height: 40px;
            margin-top: calc(4vh * 4);
            font-size: 18px;
            font-weight: bold;
            // --border-color: #d3d31f;            
            // --border-width: 1px;
            // --border-style: solid;
            --border-radius: 10px;
<<<<<<< HEAD
            // --background: #F8F7FB;
            --background-activated: linear-gradient(320deg,  #c0ba06, #e4e4bc);
            // --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);        
            --color: rgb(255, 255, 255);
=======
            --background: #f5f5a5;
            --background-activated: #f5f5a5; // linear-gradient(320deg,  #c0ba06, #e4e4bc);
            // --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);        
            --color: black;
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
            // --color-activated:#000;
          }
          
          .create-profile-desc {            
            margin-top: 30px;
            font-size: 16px;
            padding: 20px;
<<<<<<< HEAD
            color: #FEFEFE;
=======
            color: $font-color;
>>>>>>> df02f6e421d83150145e91fc11779a7c7aab1c27
          }
    }

  
}