<ion-header>
  <ion-toolbar class="nolines">
      <ion-buttons slot="start">
        <ion-back-button class="back-button" text="" icon="/assets/images/back-black.svg" color="dark" (click)="dismiss()" defaultHref="/tabs/my-trips"></ion-back-button>
      </ion-buttons>
    <ion-title>Add Place</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
    <ion-list lines="none" class="create-place-content">
          <ion-item lines="none">
            <ion-label position="stacked" class="title">NEW PLACE NAME</ion-label>
            <ion-input  [(ngModel)]="queryPlace" (ionInput)="searchPlace()"  type="text"></ion-input>            
            <ion-list [ngClass]="{'place-list': places.length>0, 'empty-place-list': places.length==0}">
                <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
            </ion-list>
          </ion-item>
          <div class="tooltip" *ngIf="!queryPlace">
            <span>The name of the recommended place.</span>
          </div>
    
          <ion-item lines="none">
            <ion-label position="stacked" class="title">CITY</ion-label>
            <ion-input  [(ngModel)]="city" type="text"></ion-input>
          </ion-item>

          <ion-item  lines="none">
            <ion-label position="stacked" class="title notes">NOTES</ion-label>
            <ion-textarea [(ngModel)]="notes" type="text"></ion-textarea>
          </ion-item>

          <ion-item class="photo-item">
            <ion-label position="stacked" class="title">PHOTO</ion-label>            
          </ion-item>
          <div class="photo-content">
            <img *ngIf="picture" [src]="picture">
          </div>
          
          <!-- <ion-item
              lines="none"
              class="tooltip"
              *ngIf="!picture"
            >
            <ion-label>Please insert recommended your photo.</ion-label>            
          </ion-item> -->
          <div *ngIf="!picture" class="add-photo-placeholder" (click)="selectPicture()">
            <ion-icon name="add" size="large"></ion-icon>            
          </div>
   
    </ion-list>

</ion-content>

<ion-footer>
  <ion-button 
    (click)="createNewRec()" 
    expand="full" 
    [disabled]="!queryPlace || !city || !notes" 
    class="footer-button" 
    >
      Done
  </ion-button>    
</ion-footer>