<ion-header>
  <ion-toolbar>    
    <ion-title>My Trip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="my-trip-content">
  <ion-card *ngFor="let reco of recoArray; let i = index" id="myFixZone" (click)="selectReco(i)" class="reco-card" [ngClass] ="{selected: reco.selected}" >
    <ion-card-header>
      <ion-card-subtitle class="city">{{reco.data().city}}</ion-card-subtitle>
      <ion-card-title class="title">{{reco.data().name}}</ion-card-title>
    </ion-card-header>
    <img class="thumb-img" *ngIf="reco.data().pictureThumb" src="{{reco.data().pictureThumb}}" />
    <ion-card-content class="notes">
      {{reco.data().notes}}
    </ion-card-content>
  </ion-card>

  <div class="footer" slot="fixed">
    <div class="operations">
      <button type="button" class="op-button" *ngIf="_backdropOn" (click)="addReco()">Add Reco</button>
      <button type="button" class="op-button send-button" *ngIf="_backdropOn" (click)="sendReco()">Send to friend</button>
      <div class="more-button" (click)="showMoreActions()">
        <ion-icon name="add" mode="md" *ngIf="!_backdropOn"></ion-icon>
        <ion-icon name="close" mode="md" *ngIf="_backdropOn"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>

<ion-backdrop class="inner-bd" *ngIf="_backdropOn" (ionBackdropTap)="dismissMoreActions()"></ion-backdrop>
