<ion-header>
  <div class="desc-down" *ngIf="userName">
    <h2> {{userName}}'s Recos</h2>
    <ion-button href="https://reco-6c892.firebaseapp.com/main" class="op-button" color="primary">
      Signup to see more
    </ion-button>
  </div>
</ion-header>

<ion-content class="content">
  <!-- Google Map -->
  <div class="map">
    <!-- *ngIf="!focusedSearchBar" -->
    <google-map apiKey="AIzaSyCpWo2QDEEoW7KjiYobppSGoH-Un6rYhsg" lat="40.74" long="-73.99"></google-map>
  </div>
  <!-- // Google Map -->
  <!-- Place(Recommendation Group) Card List  -->
  <div class="horizontal-card-list" #recoCardList>
    <div class="list-content">
      <div class="card-item" *ngFor="let suggestion of recCardArray; let inx = index" #recoCardItem
        (click)="selectPlaceCard(inx, suggestion.id)">
        <ion-card class="suggestion-card" *ngIf="suggestion.visible"
          [ngClass]="{'activated-card': inx == activatedRecoIndex}">
          <ion-card-content>
            <div class="reco-picture">
              <img *ngIf="suggestion.pictureThumbs[0]" src="{{suggestion.pictureThumbs[0]}}" />
            </div>
            <div class="reco-data">
              <h2 class="reco-name">
                {{suggestion.name}}
                <!-- {{suggestion.name}} -->
              </h2>
              <!-- <div class="reco-away">
                  <ion-icon name="pin"></ion-icon>
                  {{suggestion.distance}} miles away
              </div> -->
              <div class="reco-note-div">
                <p class="reco-note">
                  {{suggestion.notes[0]}}
                </p>
              </div>
              <!-- <div class="friends-count">
                <ion-icon name="people" size="small"></ion-icon>
                &nbsp; {{suggestion.userIds.length}} of your friends recommend it
              </div> -->
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
  <!-- // Recommendation Card List-->

</ion-content>