<ion-header>
  <ion-toolbar class="nolines">
      <ion-buttons slot="start">
        <ion-back-button  mode="ios" icon="arrow-back" text="" (click)="dismiss()" defaultHref="/tabs/my-trips"></ion-back-button>
      </ion-buttons>
    <ion-title>Where</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <div class="ask-reco-content">
      <div class="location">
          <ion-item lines="none">
              <ion-label position="stacked" class="title">LOCATION</ion-label>
              <ion-input  class="place" [(ngModel)]="queryPlace" (ionInput)="searchPlace()"  type="text"></ion-input>            
              <ion-list [ngClass]="{'place-list': places.length>0, 'empty-place-list': places.length==0}">
                  <ion-item *ngFor="let place of places" (click)="selectPlace(place)"  lines="none">{{place.description}}</ion-item >
              </ion-list>
          </ion-item>
      </div>
      <div class="buttons">
            <ion-button (click)="inviteViaSMS()" class="op-button" [disabled]="!queryPlace || !lat || !lng">
                Invite via SMS
            </ion-button>   
            <!-- <ion-button (click)="inviteViaEmail()" class="op-button" [disabled]="!location">
                Invite via Email
            </ion-button>    -->
            <ion-button (click)="dismiss()" class="op-button cancel-button">
                Cancel
            </ion-button>
      </div>
  </div>
</ion-content>
