<ion-header>
    <ion-toolbar>
      <div class="search-bar"> <!-- mode="md"  showCancelButton="focus"  -->
        <ion-searchbar [(ngModel)]="query" mode="md" class="reco-searchbar" type="text" (ionInput)="searchFriend()"
          (ionFocus)="focusSearchBar()" (ionCancel)="cancelSearchBar()" placeholder="Search a friend"></ion-searchbar>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-segment mode="md" color="primary" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="suggestions" mode="md" checked>
              <ion-label>Suggestions</ion-label>
          </ion-segment-button>
          <ion-segment-button value="following" mode="md">
            <ion-label>Friends following</ion-label>
        </ion-segment-button>
      </ion-segment>

      <div *ngIf= "page==='suggestions'" class="sub-page">
          <ion-list>
              <ion-item *ngFor="let friend of suggestions; let i = index" class="user-item">
                  <ion-avatar slot="start" class="user-avatar">
                      <img src="{{ friend?.photoURL || '/assets/images/avatar.svg' }}" />
                  </ion-avatar>
                  <ion-label>
                    <h2 class="user-name">{{friend.userName}}</h2>
                    <p class="user-email">{{friend.email}}</p>
                  </ion-label>
                  <ion-button (click)="followUser(friend.userId, i)" class="follower-button" slot="end" color="medium">Follow</ion-button>
                </ion-item>
          </ion-list>
      </div>
      <div *ngIf= "page==='following'" class="sub-page">
          <ion-list>
              <ion-item *ngFor="let friend of followings; let i = index " class="user-item">
                  <ion-avatar slot="start" class="user-avatar">
                      <img src="{{ friend?.photoURL || '/assets/images/avatar.svg' }}" />
                  </ion-avatar>
                  <ion-label>
                    <h2 class="user-name">{{friend.userName}}</h2>
                    <p class="user-email">{{friend.email}}</p>
                  </ion-label>
                  <ion-button (click)="unFollowUser(friend.userId, i)" class="following-button" slot="end" color="warning">Following</ion-button>
                </ion-item>
          </ion-list>
      </div>
      
    
  </ion-content>