<ion-header>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
        <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>
</ion-header>
<div id="service-helper"></div>

    <ion-list lines="none">
  
        <!-- <form [formGroup]="myDetailsForm" (input)="saveForm()"> -->
    
          <ion-item>
            <ion-label position="stacked">New Place</ion-label>
            <ion-input  [(ngModel)]="name"  type="text"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">City</ion-label>
            <ion-input  [(ngModel)]="city" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea type="text"></ion-textarea>
          </ion-item>

          <ion-button (click)="createNewRec(myDetailsForm)" expand="block" >

            Create
          </ion-button>
          <ion-button (click)="closeModal()">Close Modal</ion-button>

    
        <!-- </form> -->
    
      </ion-list>