<!-- <ion-header>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
        <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
    </ion-list>
</ion-header> -->
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Cancel</ion-button>    
        </ion-buttons>
        <b>Recommendation</b> 
         <ion-buttons slot="end">
            <ion-button (click)="createNewRec()">Create</ion-button>  
        </ion-buttons>
    </ion-toolbar>
  </ion-header>


<div id="service-helper"></div>
  
<ion-content>

    <ion-list lines="none">
  
        <!-- <form [formGroup]="myDetailsForm" (input)="saveForm()"> -->
    
          <!-- <ion-item>
            <ion-label position="stacked">New Place</ion-label>
            <ion-input  [(ngModel)]="name"  type="text"></ion-input>
          </ion-item> -->

          <ion-item>
            <ion-label position="stacked">New Place</ion-label>
            <ion-input  [(ngModel)]="query" (ionInput)="searchPlace()"  type="text"></ion-input>

            <ion-list>
                <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
            </ion-list>
          </ion-item>
    
          <ion-item>
            <ion-label position="stacked">City</ion-label>
            <ion-input  [(ngModel)]="city" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Notes</ion-label>
            <ion-textarea [(ngModel)]="notes" type="text"></ion-textarea>
          </ion-item>

    
        <!-- </form> -->
    
      </ion-list>

    </ion-content>