<ion-header>
    <ion-toolbar color="primary">
        <!-- <ion-searchbar placeholder="City"></ion-searchbar> -->

    </ion-toolbar>
  </ion-header>
  <ion-button (click)="openModal()">Create new place</ion-button>

  <ion-content padding>
  
    <ion-card *ngFor="let recs of results" id="myFixZone">
        <ion-card-header>
          <ion-card-subtitle>{{recs.data().city}}</ion-card-subtitle>
          <ion-card-title>{{recs.data().name}}</ion-card-title>
        </ion-card-header>
        <img *ngIf="recs.data().picture" src="{{recs.data().picture}}" />
        <ion-card-content>
            {{recs.data().notes}}
        </ion-card-content>
      </ion-card>
  
  </ion-content>