<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <!-- <img src="assets/images/logo.png" class="logo" /> -->
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="setLocation()">
        <ion-icon slot="icon-only" name="pin"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-item> -->

    <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" type="text"></ion-searchbar>
    <!-- </ion-item> -->
    <!-- <ion-buttons slot="end">
          <ion-button (click)="takeMeHome()"><ion-icon slot="icon-only" name="walk"></ion-icon></ion-button>  
      </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="places && places.length > 0 ">
    <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">{{place.description}}</ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <div class="horizontal-list">
        <div class="list-item">
          <ion-card class="suggestion-card" *ngFor="let suggestion of recCardResults">
            <ion-card-header>
              <ion-card-subtitle>{{suggestion.city}} </ion-card-subtitle>
              <ion-card-title>{{suggestion.name}}</ion-card-title>
            </ion-card-header>
            <img *ngIf="suggestion.pictureThumb" src="{{suggestion.pictureThumb}}" />
            <ion-card-content>
              {{suggestion.notes}}
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </ion-row>
    <ion-row>
      <google-map apiKey="AIzaSyCpWo2QDEEoW7KjiYobppSGoH-Un6rYhsg"></google-map>
    </ion-row>
  </ion-grid>

  <!-- <ion-row>
    <div> -->
  <!-- <ion-list> -->
  <!-- <ion-list-header> -->
  <!-- <ion-label>Popular Suggestions</ion-label>
          </ion-list-header>
            <ion-row>
              <ion-col>
                  <div scrollX="true" id="myFixZone" >
                          <ion-card *ngFor="let suggestion of stopSuggestions" >
                              <ion-card-header>
                                <ion-card-subtitle>Liam </ion-card-subtitle>
                                <ion-card-title>Test</ion-card-title>
                              </ion-card-header>
                            
                              <ion-card-content>
                                 Test
                              </ion-card-content>
                            </ion-card>
                  </div>
              </ion-col>
            </ion-row> 
          </div> -->
  <!-- </ion-list>   -->
  <!-- </ion-row> -->


</ion-content>
