<!-- <ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" type="text"></ion-searchbar>
  </ion-row>
      <ion-row>
          <div class="horizontal-list-menu">
            <div class="list-item">
                <ion-button>Filter</ion-button>

                <ion-button *ngFor="let friend of friendList" class="friend-filter-button">
                    {{friend}}
                </ion-button>
            </div>
          </div>
        </ion-row>
  </ion-toolbar>
</ion-header>
 -->
<ion-header>
  <ion-toolbar>
    <div class="search-bar">
      <ion-searchbar [(ngModel)]="query" mode="md" type="text" showCancelButton="focus" (ionInput)="searchPlace()"
        (ionFocus)="focusSearchBar()" (ionCancel)="cancelSearchBar()"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content class="explorer-content">

  <ion-list *ngIf="places && places.length > 0 && focusedSearchBar">
    <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">
      <ion-label>
        <ion-icon color="medium" name="pin"></ion-icon>
        {{place.description}}
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- Friend List -->
  <div class="horizontal-friend-list" *ngIf="!focusedSearchBar">
    <div class="list-item">
      <div class="friend-item" (click)="selectFriend(-1)" [ngClass] ="{selected: selectedAllFriend}">
          <div class="username">All</div>
      </div>
      <div class="friend-item"       
          [ngClass] ="{selected: friend.selected}"  
          (click)="selectFriend(i)"
          *ngFor="let friend of friendList; let i = index" 
           >
        <div class="avatar">
            <img class="user-avatar-photo" src="{{ friend?.photoURL || '/assets/images/avatar.png' }}" />
        </div>
        <div class="username">
            {{friend.userName}}
        </div>
      </div>
      
    </div>
  </div>
  <!-- // Friend List -->
  <!-- Google Map -->
  <div class="map" [ngClass]=" {map_show: !focusedSearchBar, map_hidden: focusedSearchBar} ">
    <!-- *ngIf="!focusedSearchBar" -->
    <google-map apiKey="AIzaSyCpWo2QDEEoW7KjiYobppSGoH-Un6rYhsg"></google-map>
  </div>
  <!-- // Google Map -->
  <!-- Recommendation Card List  : will be replace place card list -->
  <div class="horizontal-card-list" *ngIf="!focusedSearchBar">
    <div class="list-item">
      <ion-card class="suggestion-card" *ngFor="let suggestion of recCardResults">
        <ion-card-content>
          <div class="reco-picture">
            <img *ngIf="suggestion.pictureThumb" src="{{suggestion.pictureThumb}}" />
          </div>
          <div class="reco-data">
            <h2 class="reco-name">
              {{suggestion.city}}
              <!-- {{suggestion.name}} -->
            </h2>
            <div class="reco-away">
                <ion-icon name="pin"></ion-icon>
                {{suggestion.distance}} miles away
            </div>
            <p class="reco-note">
              {{suggestion.notes}}
            </p>
            <div class="friends-count">
              <ion-icon name="people" size="small"></ion-icon>
              &nbsp; 10 of your friends recommend it
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <!-- // Recommendation Card List-->

</ion-content>
