div[scrollx=true] {
    position: relative;

    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
       display: none;
    }
     .scroll-item {
       flex: 0 0 auto;
    }
    .card {
        flex: 0 0 auto;
      }

  }

  .horizontal-list{
    position: absolute;
    bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    .list-item{
      width: 100vw;
      // height: 250px;
      white-space: nowrap;
      .suggestion-card{        
        display: inline-grid;
        // border: 1px solid #ddd;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0 3px 6px rgba(100, 100, 100, 0.5) !important;
        margin: 5px;
        padding: 0px;  
        height: 130px;        
               
        //height: calc(250px - 40px); // 35px is card margin, must change               
        ion-card-content {          
          display: inline-flex;
          white-space: normal;
          width: 90vw;
          padding: 0px;
          .reco-picture {            
              width: 115px;
              height: 130px;
              img {
                width: 115px;
                height: 130px;
              }
          }
          .reco-data {
            padding: 10px;
            width: calc(90vw - 115px);
            .reco-name {
              color:#373043;
            }
            .reco-away {
              font-size: 10px;              
            }
            .reco-note {
              height: 50px;
              padding-bottom: 5px;
              font-size: 12px;
              color: #4a4a4a;
            }
            .friends-count {
              display: inline-flex;
              font-size: 10px; 
              line-height: 20px;
              // color: #b4b8ba
            }
          }
        }
      }
    }
  }

  .horizontal-list-menu{
    overflow-x: scroll;
    overflow-y: hidden;
    .list-item{
      height: 50px;
      white-space: nowrap;
      .suggestion-card{        
        display: inline-grid;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin: 5px;
        padding: 3px;
        width: 90%; 
        //height: calc(250px - 40px); // 35px is card margin, must change       
        ion-card-header {
          white-space: normal;
        }
        ion-card-content {
          white-space: normal;
        }
      }
    }
  }
  ::-webkit-scrollbar { 
    display: none; 
  }

  // .friend-filter-button{
  //   --border-color:white;

  // }

  .suggest-button-stop {
    --background: white;
    --color: black;
    padding: 4px;

    // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
    --box-shadow: 0 0 2px rgba(218, 50, 50, 0.8);  
}

.map_show {
  display: inherit
}
.map_hidden {
  display: none
}

