
.search-bar{
  margin:4px 4px;
  display: flex;
}
.filter-icon {
  width: 30px;
  height: 27px;
  margin-top: 10px;
  padding: 5px;
}

.horizontal-card-list{
  position: absolute;
  bottom: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  .list-content{
    width: 100vw;      
    white-space: nowrap;
    .card-item {  
      display: inline-grid;
      .suggestion-card{        
        display: inline-grid;
        // border: 1px solid #ddd;
        border-radius: 10px;
        background: #ffffff;
        box-shadow: 0 3px 6px rgba(100, 100, 100, 0.5) !important;
        margin: 5px;
        padding: 0px;  
        height: 130px;                  
        ion-card-content {          
          display: inline-flex;
          white-space: normal;
          width: 320px;
          padding: 0px;
          .reco-picture {            
              width: 115px;
              height: 130px;
              img {
                width: 115px;
                height: 130px;
              }
          }
          .reco-data {
            padding: 10px;
            width: calc(90vw - 115px);
            .reco-name {
              color:#373043;
            }
            .reco-away {
              font-size: 10px;              
            }
            .reco-note-div {
              min-height: 32px;
            }
            /* mixin for multiline */
            @mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
              overflow: hidden;
              position: relative;
              line-height: $lineHeight;
              max-height: $lineHeight * $lineCount; 
              // min-height: $lineHeight * $lineCount; 
              word-break: break-all;
              // margin-right: -1em;
              padding-right: 1em;
              &:before {
                content: '...';
                position: absolute;
                right: 0;
                bottom: 0;
              }
              &:after {
                content: '';
                position: absolute;
                right: 0;
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                background: $bgColor;
              }
            }

            .reco-note {
              @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 2, $bgColor: white);  
              font-size: 12px;
              color: #4a4a4a;
              margin-top: 6px;
            }
            
            .friends-count {
              display: inline-flex;
              font-size: 10px; 
              line-height: 20px;
              // color: #b4b8ba
            }
          }
        }
      }
      // activated reco card when click marker on Map
      .activated-card{
        background: rgb(255, 251, 192);
        box-shadow: 0 0 8px rgba(100, 100, 100, 0.6) !important;
      }
    }
  }
}




.horizontal-friend-list{    
  // height: 50px;
  padding-left: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  .list-item{
    width: 100vw;
    display: inline-flex;      
    white-space: nowrap;
    .friend-item{        
      display: inline-flex;
       border: 1px solid #ddd;
      border-radius: 25px;
      padding: 3px 10px; 
      background: #ffffff;
      // box-shadow: 0 0 4px rgba(100, 100, 100, 0.5) !important;
      margin: 8px 5px;  
      height: 34px;              
      .avatar {
        width: 24px;
        height: 28px;
        margin-right: 5px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
        .user-avatar-photo {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      } 
      .username {
        min-width: 40px;
        text-align: center;
        line-height: 28px;
        font-size: 16px;
        color: rgb(74, 74, 74);
      }  
    }

    // selected friend
    .selected {
      background: rgb(255, 235, 59);
      // box-shadow: 0 0 8px rgba(100, 100, 100, 0.6) !important;
    }
  }
}

::-webkit-scrollbar { 
  display: none; 
}

.suggest-button-stop {
  --background: white;
  --color: black;
  padding: 4px;

  // --box-shadow: 0 0 10px rgba(0,0,0,0.8);  
  --box-shadow: 0 0 2px rgba(218, 50, 50, 0.8);  
}

.map_show {
  display: inherit
}
.map_hidden {
  display: none
}

