<ion-content class="main-content">
  <div class="logo-container">    
    <h1 class="title">Sign up to see your friend's Recos across the world!</h1>
  </div>
  <!-- <div class="facebook-login">
    <ion-button (click)="capacitorFbLogin()" expand="block">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>        
        Connect with Facebook
    </ion-button>
  </div> -->
  
  <div class="facebook-login">
      <ion-button (click)="gotoSignup()" expand="block">Sign up now</ion-button>
    </div>
  <!-- <div class="email-login-link">
    <span>Or use your email</span>
    <span class="link" (click)="gotoSignup()">here</span>
  </div> -->
  <div class="desc">
    Signup with an email and a username so that your friends can follow you.
  </div>
</ion-content>