// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-toolbar {
    --background: rgb(255,255,255);
}

ion-title {
    font-size: 20px;
    color: rgb(55,48,67);
}

ion-title img {
    max-height: 39px;
    margin-top:6px;
}

ion-back-button {
    padding-left: 10px;
    --icon-font-size: 24px !important;
}

ion-buttons {
    .back-button-icon {
        font-size: 32px !important;
    }
}

ion-item{
    // --background-active:#fff;
              background-color: #2F3746 !important;;

}

ion-input, ion-textarea{

    // background-color: #f3f3f3;
    border-bottom: 1px solid #cecece;
    padding-left:10px;
    // background-color: #2F3746 !important;;
    background-color: #2F3746 !important;;


}

ion-textarea{
    height: 200px;
    background-color: #2F3746 !important;;

}

textarea{
    height: 180px;
    background-color: #2F3746 !important;;

}

.sc-ion-searchbar-ios-h {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* .searchbar-cancel-button.sc-ion-searchbar-md {
    left: 5px !important;
}

.searchbar-cancel-button.sc-ion-searchbar-ios {
    left: 5px !important;
} */

.share-modal .modal-wrapper {
    padding-top: 5px !important;

    padding: 5px !important;
    padding-top: 5px;
    font-size:18px;
    --height: 20%;
    position: absolute; 
    top: 80%;
    font-weight: bold;    

    --color: rgb(46, 45, 45);

    display: block;
  }

.nolines {
    --border-width: 0 !important;
    border-bottom: none;
}

.footer-button {
    margin: 0px;
    height: 70px;   
    font-size: 17px;
    font-weight: bold;    
    text-transform: initial;
    --background: rgb(243,226,6);
    --background-activated: #ffd31a;    
    --background-hover: #e0b500;
    --color: #000;
    --color-activated:#000;
}
.footer-button:disabled, .footer-button[disabled]{
    color: rgb(150, 154, 156);
    opacity: .94;
    --background: rgba(210, 213, 219, .94) !important;
}

.reco-searchbar {
    padding: 1;
    .searchbar-input {
      --background: #fff;
      --placeholder-color: rgb(160 160 160);
      border-radius: 5px !important;
      // border-bottom: 1px solid #333333 !important;      
      box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2) !important;
      font-size: 17px;
  
      &.sc-ion-searchbar-ios {
        color: #222222;
      }
  
      &.sc-ion-searchbar-md {
        padding-inline-start: 45px;
        -webkit-padding-start: 45px;
      }
    }
  
    &.searchbar-has-focus {
      .searchbar-input {
        border-bottom: 2px solid #b5d0f7 !important;
      }
    }

    .searchbar-search-icon {
        &.sc-ion-searchbar-md {
            color:rgb(150,150,150);
        }
    }
}